<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="GSCFieldApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GSCFieldApp.Properties.Settings>
            <setting name="ObjectX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObjectY" serializeAs="String">
                <value>0</value>
            </setting>
        </GSCFieldApp.Properties.Settings>
    </userSettings>
</configuration>